<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/fitness">Health &amp; Fitness</a></li>
                <li><a href="/giveaways">Giveaways</a></li>
            </ul>
        </nav>
    </div>
</header>