<section>
    <div class="container-fluid">
        <h1 class="mt-5">About</h1>

        <p>
            This project was created using <strong>Node</strong>, <strong>Express</strong>, and <strong>Express Handlebars</strong>. 
            It uses a <strong>NoSQL MongoDB Atlas database</strong> on the cloud with a AWS cluster. 
            The Cluster Collections are listed as: 
            <br>puppiesListings
            <br>boulderingListings
            <br>movieTrailerListings
        </p>
        <p>
            It further has a server side node module that uses the <strong>Googles APIs</strong> and utilizes the <strong>Youtube API</strong> to retrieve videos based 
            on specific keywords. For this example, Collections were created for Puppies, Bouldering, and Movie Trailers.
        </p>
        <p>
            Project source code available at:
            <br><code><a href="https://github.com/johnnyintheoc/Node-Restful-API" target="_blank">https://github.com/johnnyintheoc/Node-Restful-API</a></code>
        </p>
    </div>
</section>
